# Importar las bibliotecas necesarias
# Crear una instancia de SparkSession

#Consignas:
# 1. Crear un DataFrame con datos de personas, que incluya nombre, edad y ciudad de residencia.

Utilizar el siguiente esquema:
data = [("Alice", 25, "New York"),
        ("Bob", 30, "Los Angeles"),
        ("Charlie", 22, "Chicago")]


# 2. Mostrar solo los nombres de las personas del DataFrame.

# 3. Filtrar personas cuya edad sea mayor o igual a 25.

# 4. Agregar una nueva columna "Pais" con un valor constante para todas las filas.

# 5. Calcular el promedio de edad de todas las personas.

# 6. Ordenar el DataFrame por edad en orden descendente.

# 7. Agrupar por ciudad y calcular la cantidad de personas en cada ciudad.

# 8. Renombrar la columna "Nombre" a "NombreCompleto".

# 9. Eliminar la columna "Edad" del DataFrame.

# 10. Realizar una consulta SQL en el DataFrame para seleccionar personas mayores de 20 años.

# 11. Calcular la suma total de todas las edades.

# 12. Calcular la edad mínima y máxima de todas las personas.

# 13. Filtrar personas cuya ciudad de residencia sea "Chicago" y edad sea menor de 30.

# 14. Agregar una nueva columna "EdadDuplicada" que contenga el doble de la edad.

# 15. Convertir todas las edades en años a meses.

# 16. Contar el número total de personas en el DataFrame.

# 17. Filtrar personas cuya edad sea un número par.

# 18. Calcular la cantidad de personas por rango de edades (0-20, 21-40, 41-60, 61+).

# 19. Contar cuántas personas tienen el mismo nombre.

# 20. Concatenar las columnas "Nombre" y "Ciudad" en una nueva columna llamada "InformacionPersonal".

In [0]:
# 1. Crear un DataFrame con datos de personas, que incluya nombre, edad y ciudad de residencia.
data = [("Alice", 25, "New York"),
        ("Bob", 19, "Los Angeles"),
        ("Diana", 40, "Los Angeles"),
        ("Eve", 23, "New York"),
        ("Frank", 34, "Chicago"),
        ("Grace", 36, "Houston"),
        ("Henry", 30, "Florida"),
        ("Isabel", 30, "Miami"),
        ("Jack", 18, "Seattle"),
        ("Diana", 24, "Orlando"),
        ("Frank", 46, "Boston"),
        ("Pedro", 28, "New Jersey"), 
        ("Clark", 65, "Washington"),
        ("Charlie", 22, "Chicago")]

columns = ["Nombre", "Edad", "Ciudad"]

df = spark.createDataFrame(data, schema=columns)
df.show()

+-------+----+-----------+
| Nombre|Edad|     Ciudad|
+-------+----+-----------+
|  Alice|  25|   New York|
|    Bob|  19|Los Angeles|
|  Diana|  40|Los Angeles|
|    Eve|  23|   New York|
|  Frank|  34|    Chicago|
|  Grace|  36|    Houston|
|  Henry|  30|    Florida|
| Isabel|  30|      Miami|
|   Jack|  18|    Seattle|
|  Diana|  24|    Orlando|
|  Frank|  46|     Boston|
|  Pedro|  28| New Jersey|
|  Clark|  65| Washington|
|Charlie|  22|    Chicago|
+-------+----+-----------+

In [0]:
# 2. Mostrar solo los nombres de las personas del DataFrame.

df.select("Nombre").show()

+-------+
| Nombre|
+-------+
|  Alice|
|    Bob|
|  Diana|
|    Eve|
|  Frank|
|  Grace|
|  Henry|
| Isabel|
|   Jack|
|  Diana|
|  Frank|
|  Pedro|
|  Clark|
|Charlie|
+-------+

In [0]:
# 3. Filtrar personas cuya edad sea mayor o igual a 25.
df.filter(df["Edad"] >= 25).show()

+------+----+-----------+
|Nombre|Edad|     Ciudad|
+------+----+-----------+
| Alice|  25|   New York|
|   Bob|  30|Los Angeles|
| Diana|  40|Los Angeles|
| Frank|  34|    Chicago|
| Grace|  36|    Houston|
| Henry|  30|    Florida|
|Isabel|  30|      Miami|
|  Jack|  45|    Seattle|
| Frank|  46|     Boston|
| Pedro|  28| New Jersey|
+------+----+-----------+

In [0]:
# 4. Agregar una nueva columna "Pais" con un valor constante para todas las filas.
from pyspark.sql.functions import lit

df = df.withColumn("Pais", lit("USA"))
df.show()

+-------+----+-----------+----+
| Nombre|Edad|     Ciudad|Pais|
+-------+----+-----------+----+
|  Alice|  25|   New York| USA|
|    Bob|  30|Los Angeles| USA|
|  Diana|  40|Los Angeles| USA|
|    Eve|  23|   New York| USA|
|  Frank|  34|    Chicago| USA|
|  Grace|  36|    Houston| USA|
|  Henry|  30|    Florida| USA|
| Isabel|  30|      Miami| USA|
|   Jack|  45|    Seattle| USA|
|  Diana|  24|    Orlando| USA|
|  Frank|  46|     Boston| USA|
|  Pedro|  28| New Jersey| USA|
|  Clark|  23| Washington| USA|
|Charlie|  22|    Chicago| USA|
+-------+----+-----------+----+

In [0]:
# 5. Calcular el promedio de edad de todas las personas.
from pyspark.sql.functions import avg

df.select(avg("Edad").alias("PromedioEdad")).show()

+------------------+
|      PromedioEdad|
+------------------+
|31.142857142857142|
+------------------+

In [0]:
# 6. Ordenar el DataFrame por edad en orden descendente.
df.orderBy(df["Edad"].desc()).show()

+-------+----+-----------+----+
| Nombre|Edad|     Ciudad|Pais|
+-------+----+-----------+----+
|  Frank|  46|     Boston| USA|
|   Jack|  45|    Seattle| USA|
|  Diana|  40|Los Angeles| USA|
|  Grace|  36|    Houston| USA|
|  Frank|  34|    Chicago| USA|
|    Bob|  30|Los Angeles| USA|
|  Henry|  30|    Florida| USA|
| Isabel|  30|      Miami| USA|
|  Pedro|  28| New Jersey| USA|
|  Alice|  25|   New York| USA|
|  Diana|  24|    Orlando| USA|
|    Eve|  23|   New York| USA|
|  Clark|  23| Washington| USA|
|Charlie|  22|    Chicago| USA|
+-------+----+-----------+----+

In [0]:
# 7. Agrupar por ciudad y calcular la cantidad de personas en cada ciudad.
from pyspark.sql.functions import count

df.groupBy("Ciudad").agg(count("*").alias("CantidadPersonas")).show()

+-----------+----------------+
|     Ciudad|CantidadPersonas|
+-----------+----------------+
|   New York|               2|
|Los Angeles|               2|
|    Chicago|               2|
|    Florida|               1|
|    Houston|               1|
|      Miami|               1|
|    Orlando|               1|
|    Seattle|               1|
| New Jersey|               1|
|     Boston|               1|
| Washington|               1|
+-----------+----------------+

In [0]:
# 8. Renombrar la columna "Nombre" a "NombreCompleto".
df = df.withColumnRenamed("Nombre", "NombreCompleto")
df.show()

+--------------+----+-----------+---------+
|NombreCompleto|Edad|     Ciudad|RangoEdad|
+--------------+----+-----------+---------+
|         Alice|  25|   New York|    21-40|
|           Bob|  19|Los Angeles|     0-20|
|         Diana|  40|Los Angeles|    21-40|
|           Eve|  23|   New York|    21-40|
|         Frank|  34|    Chicago|    21-40|
|         Grace|  36|    Houston|    21-40|
|         Henry|  30|    Florida|    21-40|
|        Isabel|  30|      Miami|    21-40|
|          Jack|  18|    Seattle|     0-20|
|         Diana|  24|    Orlando|    21-40|
|         Frank|  46|     Boston|    41-60|
|         Pedro|  28| New Jersey|    21-40|
|         Clark|  65| Washington|      61+|
|       Charlie|  22|    Chicago|    21-40|
+--------------+----+-----------+---------+

In [0]:
# 9. Eliminar la columna "Edad" del DataFrame.
df_sin_edad = df.drop("Edad")
df_sin_edad.show()

+--------------+-----------+----+
|NombreCompleto|     Ciudad|Pais|
+--------------+-----------+----+
|         Alice|   New York| USA|
|           Bob|Los Angeles| USA|
|         Diana|Los Angeles| USA|
|           Eve|   New York| USA|
|         Frank|    Chicago| USA|
|         Grace|    Houston| USA|
|         Henry|    Florida| USA|
|        Isabel|      Miami| USA|
|          Jack|    Seattle| USA|
|         Diana|    Orlando| USA|
|         Frank|     Boston| USA|
|         Pedro| New Jersey| USA|
|         Clark| Washington| USA|
|       Charlie|    Chicago| USA|
+--------------+-----------+----+

In [0]:
# 10. Realizar una consulta SQL en el DataFrame para seleccionar personas mayores de 20 años.
df.createOrReplaceTempView("personas")
spark.sql("SELECT * FROM personas WHERE Edad > 20").show()

+-------+----+-----------+
| Nombre|Edad|     Ciudad|
+-------+----+-----------+
|  Alice|  25|   New York|
|  Diana|  40|Los Angeles|
|    Eve|  23|   New York|
|  Frank|  34|    Chicago|
|  Grace|  36|    Houston|
|  Henry|  30|    Florida|
| Isabel|  30|      Miami|
|  Diana|  24|    Orlando|
|  Frank|  46|     Boston|
|  Pedro|  28| New Jersey|
|  Clark|  23| Washington|
|Charlie|  22|    Chicago|
+-------+----+-----------+

In [0]:
# 11. Calcular la suma total de todas las edades.
df.selectExpr("sum(Edad) as SumaTotalEdad").show()

+-------------+
|SumaTotalEdad|
+-------------+
|          398|
+-------------+

In [0]:
# 12. Calcular la edad mínima y máxima de todas las personas.
from pyspark.sql.functions import min, max

df.select(min("Edad").alias("EdadMinima"), max("Edad").alias("EdadMaxima")).show()

+----------+----------+
|EdadMinima|EdadMaxima|
+----------+----------+
|        18|        46|
+----------+----------+

In [0]:
# 13. Filtrar personas cuya ciudad de residencia sea "Chicago" y edad sea menor de 30.
df.filter((df["Ciudad"] == "Chicago") & (df["Edad"] < 30)).show()

+-------+----+-------+
| Nombre|Edad| Ciudad|
+-------+----+-------+
|Charlie|  22|Chicago|
+-------+----+-------+

In [0]:

def edad_doble(Edad):
    return Edad * 2

spark.udf.register("funcionUDF", edad_doble)

In [0]:
df.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- Edad: long (nullable = true)
 |-- Ciudad: string (nullable = true)

In [0]:
df.withColumn("Edad",df['Edad'].cast("Integer")).printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- Edad: integer (nullable = true)
 |-- Ciudad: string (nullable = true)

In [0]:
# 14. Agregar una nueva columna "EdadDuplicada" que contenga el doble de la edad.
from pyspark.sql.functions import col, when
newdf = df.withColumn("EdadDOble", edad_doble(col("Edad")))
newdf.show()

+-------+----+-----------+---------+
| Nombre|Edad|     Ciudad|EdadDOble|
+-------+----+-----------+---------+
|  Alice|  25|   New York|       50|
|    Bob|  19|Los Angeles|       38|
|  Diana|  40|Los Angeles|       80|
|    Eve|  23|   New York|       46|
|  Frank|  34|    Chicago|       68|
|  Grace|  36|    Houston|       72|
|  Henry|  30|    Florida|       60|
| Isabel|  30|      Miami|       60|
|   Jack|  18|    Seattle|       36|
|  Diana|  24|    Orlando|       48|
|  Frank|  46|     Boston|       92|
|  Pedro|  28| New Jersey|       56|
|  Clark|  23| Washington|       46|
|Charlie|  22|    Chicago|       44|
+-------+----+-----------+---------+

In [0]:
# 15. Convertir todas las edades en años a meses.
df = df.withColumn("EdadEnMeses", df["Edad"] * 12)
df.show()

+-------+----+-----------+-----------+
| Nombre|Edad|     Ciudad|EdadEnMeses|
+-------+----+-----------+-----------+
|  Alice|  25|   New York|        300|
|    Bob|  19|Los Angeles|        228|
|  Diana|  40|Los Angeles|        480|
|    Eve|  23|   New York|        276|
|  Frank|  34|    Chicago|        408|
|  Grace|  36|    Houston|        432|
|  Henry|  30|    Florida|        360|
| Isabel|  30|      Miami|        360|
|   Jack|  18|    Seattle|        216|
|  Diana|  24|    Orlando|        288|
|  Frank|  46|     Boston|        552|
|  Pedro|  28| New Jersey|        336|
|  Clark|  23| Washington|        276|
|Charlie|  22|    Chicago|        264|
+-------+----+-----------+-----------+

In [0]:
# 16. Contar el número total de personas en el DataFrame.
print(f"Total de personas: {df.count()}")

Total de personas: 14

In [0]:
# 17. Filtrar personas cuya edad sea un número par.
df.filter(df["Edad"] % 2 == 0).show()

+-------+----+-----------+-----------+
| Nombre|Edad|     Ciudad|EdadEnMeses|
+-------+----+-----------+-----------+
|  Diana|  40|Los Angeles|        480|
|  Frank|  34|    Chicago|        408|
|  Grace|  36|    Houston|        432|
|  Henry|  30|    Florida|        360|
| Isabel|  30|      Miami|        360|
|   Jack|  18|    Seattle|        216|
|  Diana|  24|    Orlando|        288|
|  Frank|  46|     Boston|        552|
|  Pedro|  28| New Jersey|        336|
|Charlie|  22|    Chicago|        264|
+-------+----+-----------+-----------+

In [0]:
# 18. Calcular la cantidad de personas por rango de edades (0-20, 21-40, 41-60, 61+).
from pyspark.sql.functions import when

df = df.withColumn("RangoEdad", when(df["Edad"] <= 20, "0-20")
                                 .when(df["Edad"] <= 40, "21-40")
                                 .when(df["Edad"] <= 60, "41-60")
                                 .otherwise("61+"))

df.groupBy("RangoEdad").count().show()

+---------+-----+
|RangoEdad|count|
+---------+-----+
|    21-40|   10|
|     0-20|    2|
|    41-60|    1|
|      61+|    1|
+---------+-----+

In [0]:
# 19. Contar cuántas personas tienen el mismo nombre.
df.groupBy("NombreCompleto").count().show()

+--------------+-----+
|NombreCompleto|count|
+--------------+-----+
|         Alice|    1|
|         Diana|    2|
|           Bob|    1|
|           Eve|    1|
|         Frank|    2|
|         Grace|    1|
|         Henry|    1|
|        Isabel|    1|
|          Jack|    1|
|         Pedro|    1|
|         Clark|    1|
|       Charlie|    1|
+--------------+-----+

In [0]:

# 20. Concatenar las columnas "Nombre" y "Ciudad" en una nueva columna llamada "InformacionPersonal".
from pyspark.sql.functions import concat_ws

df = df.withColumn("InformacionPersonal", concat_ws(" - ", df["NombreCompleto"], df["Ciudad"]))
df.select("InformacionPersonal").show()

+-------------------+
|InformacionPersonal|
+-------------------+
|   Alice - New York|
|  Bob - Los Angeles|
|Diana - Los Angeles|
|     Eve - New York|
|    Frank - Chicago|
|    Grace - Houston|
|    Henry - Florida|
|     Isabel - Miami|
|     Jack - Seattle|
|    Diana - Orlando|
|     Frank - Boston|
| Pedro - New Jersey|
| Clark - Washington|
|  Charlie - Chicago|
+-------------------+